* {
  margin: 0;
  padding: 0;
}
body {
  padding: 10px;
  background-color: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
}
h1, h2, p, pre, #controls {
  margin: 5px 5px 10px ;
  font: 11px/1.5 verdana, sans-serif;
}
h1, h2 {
  color: #000;
  font-weight: bold;
}
h2 { margin-bottom: 5px; }
a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
a:hover {
  color: #555;
}
#sidebar {
  position: fixed;
  width: auto; /* 350px */
}
#controls {
  width: 100%;
  margin: 0 0 10px;
  padding: 0; /* 1px */
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 5px; /* CSS3 */
  -webkit-border-radius: 5px; /* Safari, Google Chrome */
  -moz-border-radius: 5px; /* Firefox */
}
#controls>a {
  display: none;/* inline-block */
  float: left;
  margin: 2px;
  padding: 3px 5px;
  background-color: rgba(240, 240, 240, 0.5);
  border: 0;
  border-radius: 3px; /* CSS3 */
  -webkit-border-radius: 3px; /* Safari, Google Chrome */
  -moz-border-radius: 3px; /* Firefox */
}
#controls>a:nth-child(6),#controls>a:nth-child(7) {
  /*float: right;*/
}
#controls>a:nth-child(6) {
  display: inline-block;/**/
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#controls>a.onbutton {
  background-color: rgba(180, 180, 180, 0.4);
}
#controls>a.nonactive {
  color: #999;
  background-color: rgba(240, 240, 240, 0.5);
  cursor: default;
}
#infopanel, #sketchlist, #codepanel, #helppanel {
  /* border-top: 1px solid #666; */
}
#infopanel>p {
  padding: 0 5px;
}
#sketchlist * {
  text-align: right;
}
#p5canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top:0;
  left:0;
  z-index: -1;
}
#p5_loading, #p5text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font: 11px/1.5 verdana, sans-serif;
}
#p5_loading, #p5text {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  margin:0;
}
#controls, #p5canvas, #p5text {
  cursor: default;
}
#controls, #p5text {
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari, Chrome */
  -ms-user-select: none; /* IE10 */
}
#infopanel, #sketchlist, #codepanel, #helppanel {
  display: none;
}
@media screen and (max-device-width: 480px) {
  h1,h2,p,pre,#controls {
    font-size: 70%;
  }
  #infopanel>*, #sketchlist>*, #codepanel>*, #helppanel>div>* {
    font-size: 100%;
  }
  #sidebar {
    position: static;
    float: none;
    width: 100%;
  }
  div#p5canvas {
    position: absolute;
  }
  #p5_loading {
    position: static;
  }
  #p5text {
    position: absolute;
  }
}
